@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/*--Bootstrap Padding Fix--*/
[Class*="col-"]{
    padding: 16px;
}

/*--Root Stuff--*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #E5E5E5;
    --color-bg-variant: #F1F3FF;
    --color-primary: #0D28A6;
    --color-primary-variant: #CFD4ED;
    --color-button-g: #5CB85F;
    --color-button-g-variant: #ADDBAF;
    --color-button-y: #F9CC00;
    --color-button-r: #FA2C5A;
    --color-white: #FFFFFF;
    --color-grey: #D0D0D0;
    --color-black: #000000;

    --transition: all 400ms ease;

}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--color-white);
    color: var(--color-black);
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    scroll-behavior: smooth;
}

.padding{
    padding-bottom: 96px;
}

/*--Elements--*/
/*--Navbar--*/
.navbar{
    padding: 32px;
}
.navbar-brand{
    padding-left: 32px;
    font-weight: bold;
}
.navbar-nav li{
    font-weight: 400;
    padding-right: 32px;
}
.nav-item{
    text-align: right;
}

/*--Jumbotron--*/
.jumbotron{
    padding: 32px;
    padding-bottom: 0;
    border-radius: 0;
}

/*--Best Car!--*/
.best-car{
    padding-top: 96px;
    width: 75%;
}

/*--Why Us?--*/
.why-us{
    padding-bottom: 0;
    width: 75%;
}
.cardwhy{
    height: 100%;
    padding: 16px;
    text-align: left;
    border-color: var(--color-grey);
    border-radius: 10px;
    background-color: var(--color-white);
}


/*--Testimonial--*/
.testi{
    width: 75%;
    padding-top: 32px;
    padding-bottom: 0;
}
.cardtes{
    margin: auto;
    max-width: 75%;
    padding: 16px;
    text-align: left;
    border-color: var(--color-grey);
    border-radius: 10px;
    background-color: var(--color-bg-variant);
}
.imgcard{
    width: 80px;
    height: 80px;
}

/*--Sewa Mobil--*/
.sewa_mobil{
    width: 75%;
    padding: 96px;
    background-color: var(--color-primary);
    text-align: center;
    align-items: middle;
    color: var(--color-white);
    border-radius: 15px;
}

/*--FAQs--*/
.faqs{
    padding-top: 96px;
    padding-right: 0;
    padding-left: 0;
    width: 75%;
}

/*--Footer--*/
.footer{
    margin-top: 32px;
    padding-top: 32px;
    background-color: var(--color-bg);
    color: var(--color-black);
}

.footeritem{
    width: 75%;
}

/*--Headings--*/
h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
}

h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

h3{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

h4{
    font-size: 14px;
    line-height: 20px;
}

/*--Buttons--*/
.btn_gr {
    color:var(--color-white);
    background-color: var(--color-button-g);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.btn_gr:hover {
    background-color: var(--color-button-g-variant);
}

/*--Media Queries--*/
@media (max-width: 992px){
    .best-car{
        padding-top: 32px;
        padding-bottom: 32px;
        width: 80%;
    }

    .why-us{
        text-align: center;
        padding-bottom: 0;
        width: 80%;
    }

    .testi{
        width: 80%;
        text-align: center;
    }

    .sewa_mobil{
        padding-top: 20px;
        width: 80%;
        height: 250px;
        border-radius: 15px;
    }

    .faqs{
        width: 80%
    }

    .footeritem{
        width: 90%;
    }

}
@media (max-width: 768px){
    .sewa_mobil{
        width: 90%;
        min-height: 350px;
        padding: 70px;
        border-radius: 15px;
    }

    .imgcard{
        margin: auto;
        max-width: 80px;
        max-height: 80px;
    }

    .cardtes{
        max-width: 100%;
        padding: 16px;
        text-align: center;
    }

    .footeritem{
        text-align: center;
        width: 90%;
    }

}
@media (max-width: 576px){
    h1{
        font-size: 32px;
    }

    .best-car{
        padding-top: 32px;
        padding-bottom: 32px;
        width: 90%;
    }

    .why-us{
        text-align: center;
        padding-bottom: 0;
        width: 90%;
    }

    .sewa_mobil{
        width: 90%;
        min-height: 320px;
        padding: 20px;
        border-radius: 15px;
    }
    
    .testi{
        width: 90%;
        text-align: center;
    }
    
    .cardtes{
        margin-left: 0;
        max-width: 100%;
        padding: 16px;
        text-align: center;
    }

    .imgcard{
        margin-left: 35%;
        max-height: 80px;
        max-width: 80px;
    }

    .faqs{
        text-align: center;
        width: 90%
    }

    .footeritem{
        text-align: center;
        width: 90%;
    }

    .accordion{
        text-align: left;
    }
}

/*
Extra small (xs) devices (potrait phones, less than 576px)
No media query since this is the default in Bootstrap

small (sm) devices (landscape phones, 576px and up)
@media (min-width 576px){}

Medium (md) devices (tablets, 768px and up)
@media (min-width 768px){}

large (lg) devices (desktops, 992px and up)
@media (min-width 992px){}

Extra large(xl) devices (desktops, 1200px and up)
@media (min-width 1200px){}
*/